.menu {
  margin: 20px 10px;
}

.button {
  background-color: white;
  border: 1px solid rgba(129, 127, 127, 0.5);
  border-radius: 4px;
  padding: 20px 50px;
  cursor: pointer;
}

.ticketsResult {
  background-color: white;
  box-shadow: 0 0 5px rgba(129, 127, 127, 0.5);
  border-radius: 4px;
  margin: 20px 10px;
  padding: 10px 20px;
}

.resultHeader {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 26px;
    color: blue;
}

.logo {
    display: block;
    width: auto;
    height: 35px;
    margin: 16px 0;
}

.elementRow {
    font-size: 14px;
}

.elementCell {
    padding-right: 50px;
}

.elementCell p {
    margin: 0 auto 5px 0;
}

.cellHeader {
    color: darkgray;
    margin-top: 10px;
}